.product-store-catalogue-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-store-catalogue-items {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: start;
  max-width: 100vw;
  margin: auto;
}

.product-store-catalogue {
  display: flex;
  gap: 16px;
}
