<div class="product-store-container">
  <ng-container
    *ngIf="filterProducts$ | async as filterProducts; else elseBlock"
  >
    <app-product-catalogue
      class="product-catalogue"
      [categories]="(categories$ | async) ?? []"
      [filterProducts]="filterProducts"
      [itemsPerPage]="5"
      [currentSelectedCategory]="currentSelectedCategory"
      [currentSearchKeyword]="currentSearchKeyword"
      [placeholder]="placeholder"
      [currentPage]="currentPage"
      (handleAddingProductToCart)="addCartItem($event)"
      (updateSelectedCategory)="updateOnSelectedCategoryChanged($event)"
      (updateKeyword)="updateOnSearchChanged($event)"
      (updatePageChanged)="updateOnPageChanged($event)"
    />
    <app-product-cart
      [allCartItems]="(allCartItems$ | async) ?? []"
      [totalPrice]="(totalPrice$ | async) ?? 0"
      (handleAddingProductToCart)="addCartItem($event)"
      (handleRemovingProductFromCart)="removeCartItem($event)"
      (clearAllCartItems)="clearCartItems()"
    />
  </ng-container>
  <!-- Error Handling -->
  <ng-template #elseBlock> <ng-content></ng-content> </ng-template>
</div>
