<div class="product-store-container">
  <ng-container *ngIf="allProducts$ | async as products; else elseBlock">
    <app-product-catalogue
      class="product-catalogue"
      [allProducts]="products"
      [itemsPerPage]="5"
      (handleAddingProductToCart)="addCartItem($event)"
    />
    <app-product-cart
      [allCartItems]="(allCartItems$ | async) ?? []"
      [totalPrice]="(totalPrice$ | async) ?? 0"
      (handleAddingProductToCart)="addCartItem($event)"
      (handleRemovingProductFromCart)="removeCartItem($event)"
      (clearAllCartItems)="clearCartItems()"
    />
  </ng-container>
  <!-- Error Handling -->
  <ng-template #elseBlock> <ng-content></ng-content> </ng-template>
</div>
