<div class="product-catalogue-container">
  <ng-container *ngIf="categories$ | async as categories; else elseBlock">
    <div class="product-catalogue">
      <div class="product-catalogue-header">
        <app-tabs
          [tabs]="categories"
          [activeTab]="currentSelectedCategory"
          (selectedTab)="updateOnSelectedCategoryChanged($event)"
        />
        <app-search-item
          (searchValue)="updateOnSearchChanged($event)"
          [placeholder]="placeholder"
        />
      </div>
      <div>
        <ng-container
          *ngIf="filterProducts$ | async as filterProducts; else elseBlock"
        >
          <div class="product-catalogue-items">
            <ng-container
              *ngIf="filterProducts.filterItems.length > 0; else elseBlock"
              ><app-product-catalogue-item
                *ngFor="let product of filterProducts.filterItems"
                [product]="product"
                [searchKeyword]="currentSearchKeyword"
                (addProductToCart)="addCartItem($event)"
            /></ng-container>
            <ng-template #elseBlock
              ><div class="empty-product-catalogue">
                <p>Product Not Found</p>
              </div></ng-template
            >
          </div>

          <app-pagination
            *ngIf="filterProducts.totalItems > 0"
            [currentPage]="currentPage"
            [pageSize]="(pageSize$ | async) || 0"
            [totalItems]="filterProducts.totalItems"
            (pageChanged)="updateOnPageChanged($event)"
          />
        </ng-container>
      </div>
    </div>
  </ng-container>
  <ng-template #elseBlock>
    <div class="empty-product-catalogue">
      <p>No products available at the moment.</p>
    </div>
  </ng-template>
</div>
