.tab-item-container {
  padding: 6px 12px;
  color: white;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 50px;
  text-transform: capitalize;
  transition: all 400ms;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}

.title {
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.isActive {
  color: var(--text-color);
  background-color: var(--primary-color);
}
