.product-cart-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 390px;
  height: 100%;
}

.product-cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-container {
  width: 100%;
  overflow: scroll;
  padding: 0 10px 20px 10px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.empty-cart-item {
  background-color: var(--disabled-color);
  border-radius: 4px;
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.checkout {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  align-items: end;
}
