<div class="product-cart-container">
  <div class="product-cart-header">
    <h1>Carts</h1>
    <app-cart-button
      [variant]="'text'"
      *ngIf="allCartItems.length > 0"
      (click)="clearCartItems()"
      >Clear</app-cart-button
    >
  </div>
  <div class="cart-item-container">
    <div class="cart-items" *ngIf="allCartItems.length > 0; else elseBlock">
      <app-product-cart-item
        *ngFor="let cartItem of allCartItems"
        [selectedProduct]="cartItem"
        [quantity]="cartItem.quantity"
        [isDisableAnimation]="!!!cartItem.isUpdated"
        (addProductToCart)="addProductToCart($event)"
        (removeProductFromCart)="removeProductFromCart($event)"
      />
    </div>
    <ng-template #elseBlock>
      <div class="empty-cart-item">Your cart is empty</div>
    </ng-template>
  </div>
  <h2>Total: {{ totalPrice | currency : 'EUR' : 'symbol' : '1.2-2' }}</h2>
</div>
