<div
  *ngIf="selectedProduct"
  class="product-cart-item-container"
  [class.slide-in-animation]="!isDisableAnimation"
>
  <div class="product-cart-image-container">
    <img src="{{ selectedProduct.image }}" alt="{{ selectedProduct.title }}" />
  </div>
  <app-product-details
    [title]="selectedProduct.title"
    [price]="selectedProduct.price"
    [showButton]="false"
    [quantity]="quantity"
    [variant]="'cart'"
    (addItem)="handleAddCartItem($event)"
    (removeItem)="handleRemoveCartItem($event)"
  />
</div>
