button {
  border-radius: 16px;
  border: none;
  padding: 6px 12px;
  transition: all 400ms;
  background-color: var(--secondary-color);
  color: white;
  font-size: 12px;
}

button:hover:not(:disabled) {
  cursor: pointer;
  background-color: white;
  color: var(--secondary-color);
}

button:disabled {
  background-color: var(--disabled-color);
  cursor: default;
}

.text-button,
.text-button:hover:not(:disabled) {
  background-color: transparent;
  color: var(--secondary-color);
  padding: 0;
}

.text-button:hover {
  text-decoration: underline;
}
