/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #ddd9d4;
  --secondary-color: #212024;
  --background-color: #ededed;
  --disabled-color: #e6e6e6;
  --text-color: #3b3a3e;
  --active-color: #bbb6af;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}

html,
body {
  background-color: var(--background-color);
  font-size: 16px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

.slide-in-animation {
  animation: slide-in 600ms ease-out;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-out-animation {
  /* animation: slide-out 600ms ease-out; */
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(400%);
    opacity: 0;
  }
}
