<div class="product-catalogue-container">
  <h1>Products Catalogue</h1>
  <ng-container *ngIf="allProducts.length > 0; else elseBlock">
    <div class="product-catalogue">
      <div class="product-catalogue-header">
        <app-tabs
          [tabs]="allProducts | categories : 'includeCountedItems'"
          (selectedTab)="getSelectedTab($event)"
        />
        <app-search-item
          (searchValue)="getSearchItem($event)"
          [placeholder]="placeholder"
        />
      </div>
      <div class="product-catalogue-items">
        <ng-container
          *ngIf="
            allProducts
              | filterProducts
                : currentTab
                : currentSearchKey as filteredProducts
          "
        >
          <ng-container *ngIf="filteredProducts.length > 0; else elseBlock"
            ><app-product-catalogue-item
              *ngFor="let product of filteredProducts"
              [product]="product"
              [searchKeyword]="highlightText"
              (addProductToCart)="addProductToCart($event)"
          /></ng-container>
          <ng-template #elseBlock
            ><div class="empty-product-catalogue">
              <p>Product Not Found</p>
            </div></ng-template
          >
        </ng-container>
      </div>
    </div>
  </ng-container>
  <ng-template #elseBlock>
    <div class="empty-product-catalogue">
      <p>No products available at the moment.</p>
    </div>
  </ng-template>
</div>
