<div class="product-catalogue-container">
  <h1>Products Catalogue</h1>
  <ng-container *ngIf="allProducts.length > 0; else elseBlock">
    <div>
      <div class="product-catalogue-header">
        <app-tabs
          [tabs]="allProducts | categories : 'includeCountedItems'"
          (selectedTab)="getSelectedTab($event)"
        />
        <app-search-item
          (searchValue)="getSearchItem($event)"
          [placeholder]="placeholder"
        />
      </div>
      <div class="product-catalogue-items">
        <app-product-catalogue-item
          *ngFor="
            let product of allProducts
              | filterProducts : currentTab : currentSearchKey
          "
          [product]="product"
          [searchKeyword]="highlightText"
          (addProductToCart)="addProductToCart($event)"
        />
      </div>
    </div>
  </ng-container>
  <ng-template #elseBlock>
    <div class="empty-product-catalogue">
      <p>No products available at the moment.</p>
    </div>
  </ng-template>
</div>
