.tab-item-container {
  max-width: 180px;
  padding: 8px 16px;
  color: white;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 50px;
  text-transform: capitalize;
  transition: all 400ms;
  cursor: pointer;
  font-weight: 500;
}

.isActive {
  color: var(--text-color);
  background-color: var(--primary-color);
}
